@font-face {
    font-family:'SEGA LOCO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('../containers/SEGA.TTF') format('ttf');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: deepskyblue;
}